link(rel="stylesheet", href="flooter.css")
.flooterbox
    .contentbox
        .aboutbox
            h4 關於我們
            p (06)2341845
            p (06)2742140
            p 台南市北區長榮路四段229號（原三角窗老店）
        .linkbox
            h4 快速連結
            ul
                li #[a(href="#") 首頁]
                li #[a(href="#") 品牌故事]
                li #[a(href="#") 產品介紹]
                li #[a(href="#") 製作過程]
                li #[a(href="#") 聯絡我們]
        .followbox
            h4 追蹤我們
            a(href="#") #[img(src="icon-fb.png")]
            a(href="#") #[img(src="icon-ig.png")]
            a(href="#") #[img(src="icon-yt.png")]
    hr
    .copyrightbox 便宜坊烤鴨專賣店 &copy; 2019