*{
    font-family: 微軟正黑體;
}
/* 首圖 */
.banner{
    width: 100%;
    height: 900px;
    margin: 0px auto;
    background-image: url(banner.jpeg);
    background-size: cover;
    color: #fff;
}
.banner .title{
    text-align: left;
    padding-top: 100px;
    padding-left: 150px;
    font-size: 24px;
}
.banner .title p{
    padding: 10px;
}
/* 簡介 */
.about{
    width: 80%;
    margin: 150px auto;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto auto;
}
.about img{
    /* margin-left: 50px; */
    width: 600px;
    height: 450px;
}
.about .content{
    margin: auto 0;
    margin-left: 50px;
    padding: 10px 0;
}
/* 本月公休 */
.date{
    width: 80%;
    margin: 50px  auto;
}
.date h2,.date p{
    text-align: center;
}
.date p{
    padding: 10px 0;
}
.date img{
    display: block;
    margin: 50px auto;
    width: 500px;
    height: 500px;
}
/* 價目表 */
.pricetitle{
    text-align: center;
    margin: 10px 0;
}
.pricebox{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(233, 168, 157);
}
.one,.half,.allone{
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
    border: 1px solid white;
    padding: 10px;
}
.pricebox .allone img,.pricebox .one img,.pricebox .half img{
    width: 80px;
    height: 80px;
    display: block;
    margin: 10px auto;
}
.pricebox p,.pricebox h3,.pricebox h1{
    text-align: center;;
}
.pricebox h3{
    margin: 20px 0 10px 0;
}
.pricebox h1{
    margin: 10px 0;
}
.pricebox  ul li {
    list-style: none;
    list-style-type: decimal;
    font-size: 18px;
    margin-left: 50px;
    padding: 5px;
}
.pricebox ul{
    margin-top: 10px;
}
/* 配料加購 */
.price .others h2{
    text-align: center;
    padding-top: 20px;
}
.price .others{
    width: 80%;
    margin: 0 auto;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
    border: 1px solid white;
    background-color: rgb(241, 148, 148);
}
.price .others .otherbox{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
.price .others .otherbox img{
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-top: 10px;
}
.otherstitle{
    margin-top: 20px;
}
.othersprice,.otherstitle{
    text-align: center;
    padding-bottom: 10px;
}
/* 立即訂購 */
.orderbutton{
    text-align: center;
    margin-top: 20px;
}
.orderbutton a{
    height: 60px;
    width: 140px;
    display: inline-block;
    background-color: rgb(150, 10, 10);
    color: #fff;
    text-decoration: none;
    line-height: 60px;
    border-radius: 40px;
    font-size: 18px;
}
/* 聯絡資訊 */
.contactitle{
    text-align: center;
    margin: 30px 0 ;
}
.contact{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto;
}
.contact img{
    display: block;
    width: 500px;
    height: 500px;
    margin: 50px 0;
}
.contact .content{
    margin-top: 150px;
    margin-right: 100px ;
}
.contact .content p{
    padding: 10px 0;
}
.contact .content h3{
    padding: 10px 0;
}