link(rel="stylesheet", href="nav.css")
.nav
    .navbox
        img(src="logo.png")
        ul
            li #[a(href="index.html") 首頁]
            li #[a(href="about.html") 關於我們]
            li #[a(href="product.html") 產品資訊]
            li #[a(href="order.html") 訂購專區]