/* 關於我們 */
*{
    font-family: 微軟正黑體;
}
.about{
    width: 80%;
    margin: 0   auto;
}
.about h3{
    margin-top: 50px;
}
.about .aboutbox{
    display: grid;
    grid-template-columns: auto auto
}
.about .aboutbox img{
    width: 600px;
    height: 500px;
    margin: 30px 0;
}
.aboutcontent{
    margin: auto 0;
    padding-left:40px ;
}
/* 產品介紹 */
.product{
    width: 80%;
    margin: 0   auto;
}
.product h3{
    margin-top: 50px;
}
.productbox img{
    width: 100px;
    height: 100px;    
}
.productbox h4,.productbox p{
    display: inline;
}