<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        title 便宜坊烤鴨專賣店-關於我們
        link(rel="stylesheet", href="pagination.css")
    body
        include nav.pug
        .about
            h3(class="abouttitle") 關於我們
            .aboutbox
                img(src="banner.jpeg")
                .aboutcontent
                    h4 Lorem, ipsum dolor.
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        include flooter.pug